*.sdf
*.opensdf
*.db
*.log
*.plg
*.opt
*.user
*.ncb
*.suo
*.aps
*.bak
*.IAB
*.IAD
*.IMB
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
Debug/
Release/
doc/
Win32/
Win32Release/
Output/
*.zip
*.rar
*.exe
